// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
    apiKey: "AIzaSyA3ejAxpBC4_fnKLNwBDVNOr-yLZg9Z690",
    authDomain: "fir-starter-auth-5ae6b.firebaseapp.com",
    projectId: "fir-starter-auth-5ae6b",
    storageBucket: "fir-starter-auth-5ae6b.firebasestorage.app",
    messagingSenderId: "65113126052",
    appId: "1:65113126052:web:d1f50799fd666796dfa231",
    measurementId: "G-CXSHHKN9N8"
  };